$line: line-through;
$persantage: 100;
$colorForButton: red;
$backgroundColorForButton: yellow;

.buttonColor {
  color: $colorForButton;
  background-color: $backgroundColorForButton;
  // border-bottom: 0px;
  border-color: black;
  border-style: double;
}

.completed {
  text-decoration: $line;
  text-decoration-thickness: 2px;
}

.tableWidth {
  width: $persantage;
}

.cellWidth {
  width:60%;
}

.navbarWidth {
  width: $persantage;
}

.pointer {
  cursor: pointer;
}